@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
*
    {
    padding:0px;
    margin:0px;
    }
    .last
    {
    margin-left:-89px;
    }
    #outer
    {
    margin-top:15px;
    margin-left:5px;
    list-style-type:none;
    /*width:701px;*/
	float:left;
    
    border-bottom:solid 1px black;
    position:relative;
    height:31px;
    z-index:4;
    }
   
    #outer li
    {
    float:left;
    margin-left:2px;
    height:33px;
    position:relative;
    /*z-index:2;*/
    }
    #outer li:hover
    {
    
    }
    #main a
    {
    text-decoration:none;
    font: italic 18px Georgia;
    color: black;
    cursor:pointer;
    background-color:#cfcfcf;
    padding: 10px 20px 10px 20px;
    height:37px;
    position:relative;
    border-top:solid 1px #cfcfcf;
    border-left:solid 1px #cfcfcf;
    border-right:solid 1px #cfcfcf;
    position:relative;
    }
    
    #main a:hover
    {
		
    font: italic 18px Georgia;
    color:#8c8c8c;
    background-color:#ffffff;
    padding: 10px 20px 10px 20px;
    border-top:solid 1px black;
    border-left:solid 1px black;
    border-right:solid 1px black;
    height:37px;
    position:relative;
	z-index:20;
    border-bottom:solid 1px white;
    }
	
    #inner
    {
    list-style-type:none;
    padding:10px;
    background-color:#ffffff;
    border-bottom:solid 1px black;
    border-left:solid 1px black;
    border-right:solid 1px black;
	border-top:solid 1px black;
    position:absolute;
    display:none;
    margin-top:10px;
	left:0px;
	}
    
	
    #main:hover ul
    {
    display:block;
    }
    #inner li
    {
    float:none;
    /*position:relative;*/
    margin-left:0px;
	
    }
    #inner a
    {
    font: italic 14px Georgia;
    text-decoration:none;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:120px;
    background-color:#ffffff;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    border-bottom:solid 1px #cfcfcf;
    /*height:auto;*/
    width:178px;
    text-align:left;
    z-index:2;
    
    }
    
    #inner a:hover
    {
     font: italic 14px Georgia;
     color:#bd0707;
     padding-top:5px;
     padding-bottom:5px;
     padding-right:120px;
     border-left-style:none;
     border-right-style:none;
      border-top-style:none;
      border-bottom:solid 1px #cfcfcf;
      z-index:2;
      
    }
    
    

